
.profile-page {
  display: flex;
  height: 100vh;
  background-color: rgba(56, 54, 54, 1);
  overflow-x: hidden;
}

.profile-left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  /* padding: 2em;
  margin-bottom: 2em; */

}

.profile-right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 2em;
}

.profile-h2 {
  color: #fff;
  font-weight:bold;
}

.color-section {
  font-size: 1em;
  color: #fff;
  margin-bottom: 1.2em;
  font-weight: 500;
  /* width: 100%; */
  text-align: left;
  margin-bottom: 1.5em;
  width: 30em;
  font-size: 1em;
  
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 7x3 grid for 21 colors */
  gap: 1em;
  margin-bottom: 0.5em;
}

.color-radio-label {
  position: relative;
  display: inline-block;
   width: 4.75em;
  height: 2.5em;
}

.color-radio-label input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.color-radio-btn {
  width: 4.75em;
  height: 2.5em;
  border-radius: 50%; 
  border: 2px solid transparent;
  display: block;
  cursor: pointer;
  transition: border-color 0.2s;
}

.color-radio-label input[type="radio"]:checked + .color-radio-btn {
  border: 0.3em solid #fbfbfb;
}

.color-radio-label input[type="radio"]:disabled + .color-radio-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

.color-radio-label:hover input:not(:disabled) + .color-radio-btn {
  border-color: #fff; /* White hover border */
}

.color-input[type="color"] {
  width: 15em;
  height: 3em;
  border: none;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.color-input[type="color"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.profile-color-label {
  margin: 1em 0 1em 0;
  color: rgb(252, 252, 252);
  font-weight: bold;

}

.profile-username {
  background-color: var(--profile-bg); 
  color: var(--profile-text);
  display: flex;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
  width: 10em;
  justify-content: center;
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {

  .color-palette {
    grid-template-columns: repeat(3, 1fr); /* 3x7 grid on mobile */
    gap: 1.5em;
  }

  .color-radio-label {
    width: 4.75em;
    height: 2.5em;
  }

  .color-radio-btn {
    width: 4.75em;
    height: 2.5em;
  }

  .color-section {
  margin-left: 1em;
  width: 18em;
  
}

.profile-page {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
 }

.profile-left-panel {
    display: none;
}

}