
.color-section {
  margin-bottom: 1.5em;
  width: 20em;
  font-size: 1em;
}

.profile-h2 {
  color: #fff;
  font-weight:bold;
}

.color-section {
  font-size: 1em;
  color: #fff;
  margin-bottom: 1.2em;
  font-weight: 500;
  /* width: 100%; */
  text-align: left;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7x3 grid for 21 colors */
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.color-radio-label {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}

.color-radio-label input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.color-radio-btn {
  width: 4.5em;
  height: 1.5em;
  border-radius: 50%; 
  border: 2px solid transparent;
  display: block;
  cursor: pointer;
  transition: border-color 0.2s;
}

.color-radio-label input[type="radio"]:checked + .color-radio-btn {
  border: 0.3em solid #fbfbfb;
}

.color-radio-label input[type="radio"]:disabled + .color-radio-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

.color-radio-label:hover input:not(:disabled) + .color-radio-btn {
  border-color: #fff; /* White hover border */
}

.color-input[type="color"] {
  width: 15em;
  height: 3em;
  border: none;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.color-input[type="color"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.profile-color-label {
  margin-top: 2em;
  color: rgb(252, 252, 252);
  font-weight: bold;

}

@media (max-width: 768px) {

  .color-palette {
    grid-template-columns: repeat(3, 1fr); /* 3x7 grid on mobile */
    gap: 1.5em;
  }

  .color-radio-label {
    width: 4.75em;
    height: 2.5em;
  }

  .color-radio-btn {
    width: 4.75em;
    height: 2.5em;
  }

}