:root {

  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* global variables */
  
  --profile-bg: rgba(153, 217, 249, 1);
  --profile-text: black;
  --primary-color: #4CAF50;
  --secondary-color: #FF5722;
  --font-size-large: 1.5rem;
}
